$font-1: 'Source Sans Pro', sans-serif;
$font-2: 'Hind', sans-serif;
$font-3: 'Fresca', sans-serif;

$bg-main: url('../img/m-h-day.jpg') center/cover no-repeat;

$main-bg-clr: white;
$prim-1-clr:#21232e;
$h-font-clr: #2c2f3c;
$banner-gradient-end: #2c5ade;
$pseudo-clr: #3896c7;
$button-clr: #6C9A23;
$white-clr: white;
$footer-text-clr: #c0c3ce; 
$header-text-clr: #2c2f3c;
