$font-1: 'Source Sans Pro', sans-serif;
$font-2: 'Hind', sans-serif;
$font-3: 'Fresca', sans-serif;

$bg-main: url('../img/m-h-night.jpg') center/cover no-repeat;

$main-bg-clr: #21232e;
$prim-1-clr:#3b3f50;
$h-font-clr: #2c2f3c;
$banner-gradient-end: #922c53;
$pseudo-clr: #ff4e33;
$button-clr: #e3ac00;
$white-clr: white;
$footer-text-clr: #d1d1d1;
$header-text-clr: white;


// main color bg color="#21232e";